{% extends "inicio.html" %}
{% load bootstrap5 %}
{% block principal %}
{% load static %}

  <h1 class="text-body-emphasis">Cadastro de usuários</h1>
  <br>
  <div class="text-center">
    <img src="{% static 'imagens/womakerscode.png'%}" alt="Logo Womakers" class="img-fluid">
  </div>
  
  {% if sucesso %}
    <p class="alert alert-success"> Cadastro realizado com sucesso </p>
  {% else %}
    <form action="" method="POST" id="form" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    </form>
  {% endif %}
{% endblock %}