{% extends "inicio.html" %}
{% load django_bootstrap5 %}
{% block principal %} 

  <h1 class="text-body-emphasis">Cadastro de usuários</h1>
  <p>
    Cadastre-se 
  </p>
  
  {% if sucesso %}
    <p class="alert alert-success"> Cadastro realizado com sucesso </p>
  {% else %}
    <p>Este email já está em uso. Por favor, use um email diferente.</p>
    <form action="" method="POST" id="form" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
    </form>
  {% endif %}
{% endblock %}

